################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/AK.Enova.API.slnx
/AK.Enova.API/obj
/.vs
/WebApplication1/WebApplication1/bin/Debug/net8.0-windows
*.user
/WebApplication1/.vs
/TokenGenerator/.vs
/TokenGenerator/TokenGenerator/bin/Debug/net8.0
/TokenGenerator/TokenGenerator/obj
