################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/AK.Enova.API.slnx
/AK.Enova.API/obj
/.vs
